@import "tailwindcss";

:root {
  font-family: 'Fredoka', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* primary */
  --giphy-blue: #00ccff;
  --giphy-green: #00ff99;
  --giphy-purple: #9933ff;
  --giphy-red: #ff6666;
  --giphy-yellow: #fff35c;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: transparent;
  }
}
